{% extends "layout.html" %}

{% block content %}
    {{ super() }}

    <div class="intro">
        {% if user %}
            <p>Witaj, {{ user.username }}.</p>
        {% endif %}
        <p><a href="https://pl.wikipedia.org/wiki/JavaScript">JavaScript</a>
            jest obiektowym skryptowym językiem programowania.
            Stworzony
            został przez firmę Netscape w 1995 roku.</p>
        <p>
            Język JavaScript jest stosunkowo prostym językiem do nauczenia się,
            szczególnie jeśli wcześniej miało się do czynienia z programowaniem
            w językach <a href="https://pl.wikipedia.org/wiki/C%2B%2B">C/C++</a>
            czy też <a href="https://pl.wikipedia.org/wiki/Java">Java</a>.
            Przygotowaliśmy <b>prosty quiz</b>, którego celem jest sprawdzenie
            znajomości tego języka.
        </p>
    </div>

    <main>
        {% if quizzes %}
        <form action="/quiz" method="get">
            <section id="quiz-choice">
                <label>
                    Wybierz spośród dostępnych quizów:
                    <select name="id" required>
                        {% for quiz in quizzes %}
                            <option value="{{ quiz.id }}" {% if quiz.done %}disabled{% endif %}>{{ quiz.name }}</option>
                        {% endfor %}
                    </select>
                </label>
            </section>
            <button type="submit" class="start-btn">=> Rozpocznij quiz!
            </button>
        </form>
        {% else  %}
            <p class="info">Aby rozwiązywać quizy, musisz się najpierw <a href="/login">zalogować</a>.</p>
        {% endif %}
        <div class="meme">
            <img src="/images/3fa.jpg" alt="meme"/>
            <span class="caption">Backemd demveloper</span>
        </div>
    </main>
{% endblock %}
