{% extends "layout.html" %}

{% block content %}
    {{ super() }}
    <div class="intro">
        <p><a href="https://pl.wikipedia.org/wiki/JavaScript">JavaScript</a>
            jest obiektowym skryptowym językiem programowania.
            Stworzony
            został przez firmę Netscape w 1995 roku.</p>
        <p>
            Język JavaScript jest stosunkowo prostym językiem do nauczenia się,
            szczególnie jeśli wcześniej miało się do czynienia z programowaniem
            w językach <a href="https://pl.wikipedia.org/wiki/C%2B%2B">C/C++</a>
            czy też <a href="https://pl.wikipedia.org/wiki/Java">Java</a>.
            Przygotowaliśmy <b>prosty quiz</b>, którego celem jest sprawdzenie
            znajomości tego języka.
        </p>
        <p>
            Quiz składa się z kilku pytań (co najmniej 4)
            dotyczących
            wartości różnych wyrażeń w tym języku. Odpowiedzi na pytania są <b>wyłącznie
            liczbami całkowitymi.</b> Zakończenie quizu jest możliwe tylko po
            udzieleniu
            odpowiedzi na <b>wszystkie pytania</b>. Na wynik quizu składa się
            czas wypełnienia quizu (od momentu rozpoczęcia do zakończenia) oraz
            suma karnych sekund z wszystkich pytań, na które udzielono
            niepoprawnej
            odpowiedzi.
        </p>
    </div>

{% endblock %}
