{% extends "layout.html" %}

{% block content %}
    {{ super() }}

    <div class="intro">
        <p><a href="https://pl.wikipedia.org/wiki/JavaScript">JavaScript</a>
            jest obiektowym skryptowym językiem programowania.
            Stworzony
            został przez firmę Netscape w 1995 roku.</p>
        <p>
            Język JavaScript jest stosunkowo prostym językiem do nauczenia się,
            szczególnie jeśli wcześniej miało się do czynienia z programowaniem
            w językach <a href="https://pl.wikipedia.org/wiki/C%2B%2B">C/C++</a>
            czy też <a href="https://pl.wikipedia.org/wiki/Java">Java</a>.
            Przygotowaliśmy <b>prosty quiz</b>, którego celem jest sprawdzenie
            znajomości tego języka.
        </p>
    </div>

    <main>
        <form action="/quiz" method="get">
            <section>
                <label>
                    Wybierz quiz:
                    <select name="id" required>
                        <option value="1">Quiz 1</option>
                        <option value="2">Quiz 2</option>
                    </select>
                </label>
            </section>
            <button type="submit" class="start-btn">=> Przejdź do
                quizu!
            </button>
        </form>
    </main>
{% endblock %}
