{% extends "layout.html" %}

{% block content %}
    <main>
        <div class="before-quiz">
            <button type="button" class="start-btn" disabled>=> Rozpocznij
                quiz!
            </button>
            <div class="score-wrapper">
                <div class="best-scores">
                    <h1>Najlepsze wyniki:</h1>
                    <ol class="results-list"></ol>
                </div>
                <div class="meme">
                    <img src="/images/3fa.jpg" alt="meme"/>
                    <span class="caption">Backemd demveloper</span>
                </div>
            </div>
        </div>

        <div class="quiz" hidden>
            <hr class="quiz-breaker">
            <div class="question-interface-wrapper">
                <button class="prev" nav-action="prev"><=</button>
                <div class="question">
                    <h1>Pytanie nr
                        <span class="question-nr">1</span>
                    </h1>
                    <h4 class="penalty-head">Kara za błędną odpowiedź:
                        <span class="question-penalty"
                              data-bind="penalty">5</span> s
                    </h4>
                    <h2 class="statement">
                        Wartość wyrażenia
                    </h2>
                    <code class="expression" data-bind="statement">
                        (!+[]+[]+![]).length
                    </code>


                    <div class="answer-wrapper">
                        <label for="answer" class="statement">
                            wynosi:
                        </label>
                        <input type="number" id="answer" name="answer">
                    </div>
                </div>
                <div class="timer-wrapper">
                    <img src="/images/Cheemsburbger.png" alt="cheems"/>
                    <div class="timer">
                        <span class="timer-value">00:00:00</span>
                    </div>
                </div>
                <button class="next" nav-action="next">=></button>

                <div class="buttons">
                    <button class="next-inline" nav-action="next">Następne
                        pytanie
                    </button>
                    <button disabled class="finish" nav-action="finish">Zakończ
                        quiz
                    </button>
                    <button class="skip" nav-action="skip">Anuluj quiz</button>
                </div>
            </div>
        </div>

        <div class="summary" hidden>
            <hr class="quiz-breaker">
            <h1>Niezła próba!</h1>
            <h3>Poprawnych odpowiedzi: <span data-bind="correct">3</span> z
                <span data-bind="nQuestions">4</span></h3>
            <h3>Czas wykonania quizu: <span data-bind="time">21.37</span> s</h3>
            <h3>Kara za błędne odpowiedzi: <span data-bind="penalty">0</span> s
            </h3>
            <h2>Sumaryczny wynik czasowy: <span data-bind="result">21.37</span>
                s</h2>
            <h1>Informacja zwrotna</h1>
            <ul class="feedback">
                <!--                <li>Pytanie nr 1: <code class="expr">xdd</code> Twoja odpowiedź:-->
                <!--                    <code class="incorrect-ans">xd</code>, powinno być:-->
                <!--                    <code class="should-be">dx</code>.-->
                <!--                </li>-->
            </ul>
            <h2>Czasy spędzone nad zadaniami (kolejno): <span
                    data-bind="timeStats"></span></h2>
            <div class="save-wrapper">
                <input type="checkbox" id="save" name="save"
                       checked>
                <label for="save">Zapisz podejście</label>
            </div>
            <button type="button" class="start-btn"><= Powrót do strony głównej
            </button>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {#    TODO: add JSON with questions xD#}
    <script>
        const quizJSON = {{ quiz | dump | safe }}
    </script>
    <script src="/javascripts/bundle.js"></script>
{% endblock %}
