{% extends "layout.html" %}

{% block title %}Quiz: {{ quiz.name }}{% endblock %}

{% block content %}
    <main>
        <div class="intro">
            <p>
                Quiz składa się z kilku pytań (co najmniej 4)
                dotyczących
                wartości różnych wyrażeń w tym języku. Odpowiedzi na pytania są <b>wyłącznie
                liczbami całkowitymi.</b> Zakończenie quizu jest możliwe tylko
                po
                udzieleniu
                odpowiedzi na <b>wszystkie pytania</b>. Na wynik quizu składa
                się
                czas wypełnienia quizu (od momentu rozpoczęcia do zakończenia)
                oraz
                suma karnych sekund z wszystkich pytań, na które udzielono
                niepoprawnej
                odpowiedzi.
            </p>
        </div>

        <div class="before-quiz" hidden>
            <button type="button" class="start-btn" disabled>=> Rozpocznij
                quiz!
            </button>
            <div class="score-wrapper">
                <div class="best-scores">
                    <h1>Najlepsze wyniki:</h1>
                    <ol class="results-list"></ol>
                </div>
                <div class="meme">
                    <img src="/images/3fa.jpg" alt="meme"/>
                    <span class="caption">Backemd demveloper</span>
                </div>
            </div>
        </div>

        <div class="quiz">
            <hr class="quiz-breaker">
            <div class="question-interface-wrapper">
                <button class="prev" nav-action="prev"><=</button>
                <div class="question">
                    <h1>Pytanie nr
                        <span class="question-nr">1</span>
                    </h1>
                    <h4 class="penalty-head">Kara za błędną odpowiedź:
                        <span class="question-penalty"
                              data-bind="penalty">5</span> s
                    </h4>
                    <h2 class="statement">
                        Wartość wyrażenia
                    </h2>
                    <code class="expression" data-bind="statement">
                        (!+[]+[]+![]).length
                    </code>


                    <div class="answer-wrapper">
                        <label for="answer" class="statement">
                            wynosi:
                        </label>
                        <input type="number" id="answer" name="answer">
                    </div>
                </div>
                <div class="timer-wrapper">
                    <img src="/images/Cheemsburbger.png" alt="cheems"/>
                    <div class="timer">
                        <span class="timer-value">00:00:00</span>
                    </div>
                </div>
                <button class="next" nav-action="next">=></button>

                <div class="buttons">
                    <button class="next-inline" nav-action="next">Następne
                        pytanie
                    </button>
                    <button disabled class="finish" nav-action="finish">Zakończ
                        quiz
                    </button>
                    <button class="skip" nav-action="skip">Anuluj quiz</button>
                </div>
            </div>
        </div>

        <form id="finish-form" action="/quiz/{{ quiz.id }}" method="post" hidden>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <input type="hidden" name="results">
        </form>
    </main>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        const quizJSON =
        {{ quiz | dump | safe }}
    </script>
    <script src="/javascripts/bundle.js"></script>
{% endblock %}
